.btn {
    color: $white;
    background-color: $orange;
    border-radius: 10px;
    font-size: 12px;
    line-height: normal;
    font-weight: 900;
    padding: 11px 26px 13px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid rgba(0,0,0,0);
    &.btn-secondary {
        font-weight: 300;
        background-color: rgba(0,0,0,0);
        color: $orange;
        border: 2px solid $purple;
    }
    &.btn-large {
        font-size: 16px;
        padding: 9px 56px 11px;
    }
    &.btn-big {
        font-size: 24px;
        height: 53px;
    }
    &.btn-capitalize {
        text-transform: initial;
    }
    // &:hover {
        
    // }
}