ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    &.checklist {
        display: block;
        li {
            position: relative;
            padding-left: 32px;
            margin-bottom: 18px;
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 18px;
                background: url('/assets/img/check.svg');
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}