.trial-banner {
    background-color: $purple;
    padding: 40px 80px;
    color: $white;
    height: 160px;
    border-radius: 10px;
    position: relative;
    max-width: calc(100% - 145px);
    margin: 0 auto;
    &:before,&:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 145px;
        height: 145px;
        background: $gray-dark;
        z-index: -1;
    }
    &:before {
        left:0;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
    &:after {
        right:0;
        top: 0;
        transform: translate(50%, -50%);
    }
}