#hero {
    margin-top: 64px;
    text-align: center;
    .btn-group {
        .btn + .btn {
            margin-left: 30px;
        }
    }
    .img-hero {
        width: 100%;
    }
}
#brands {
    .brands-list {
        flex-wrap: wrap;
        li {
            width: 20%;
            text-align: center;
        }
    }
}
#produtos {
    #produtos-content {
        color: $white;
        background-color: $purple;
        height: 460px;
    }
}
#vantagens {

}
#trial-banner {
    background-color: $purple;
}
#diferenciais {
    margin-top: 108px;
    h2 {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
}