#hero {
    margin-top: 64px;
    text-align: center;
    h1 {
        margin-bottom: 20px;
    }
    .subheader {
        margin-bottom: 42px;
    }
    .btn-group {
        .btn + .btn {
            margin-left: 30px;
        }
    }
    .hero-image-wrapper {
        position: relative;
        .img-hero {
            width: 100%;
        }
        .tags-floats {
            img {
                position: absolute;
                width: 250px;
                opacity: 0;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-delay: 5s;
                animation-fill-mode: forwards;
                &:first-child {
                    animation-name: floating-1;
                }
            }
        }
    }
   
}
#brands {
    margin-top: 65px;
    .brands-list {
        flex-wrap: wrap;
        li {
            width: 20%;
            text-align: center;
        }
    }
}
#produtos {
    margin-top: 65px;
    #produtos-content {
        color: $white;
        background-color: $purple;
        height: 480px;
        padding-right: 40px;
    }
}
#vantagens {
    margin-top: 50px;
    h2 {
        margin-bottom: 40px;
    }
}
#trial-banner-1 {
    margin-top: 65px;
}
#diferenciais {
    margin-top: 108px;
    h2 {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
}

#blog-posts {
    .grid {
        display: flex;
        height: 464px;
    }
    .feature-card  {
        width: 50%;
        margin-right: 30px;
        img {
            height: 464px;
            width: 100%;
        }
    }
    .feature-cards {
        width: 50%;
        & > .post-blog-card:first-child {
            margin-bottom: 30px;
        }
        img {
            height: 216px;
            width: 100%;
            object-fit: cover;
        }
      
    }
}